{% extends 'base.html.twig' %}

{% block title %}Aulas{% endblock %}

{% block body %}
    <h1>Aulas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aula.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ aula.codigo }}</td>
            </tr>
            <tr>
                <th>Pabellon</th>
                <td>{{ aula.pabellon }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_aulas_index') }}">back to list</a>

    <a href="{{ path('app_aulas_edit', {'id': aula.id}) }}">edit</a>

    {{ include('aulas/_delete_form.html.twig') }}
{% endblock %}
